<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DbCONTEXTModel" connectionString="data source=192.168.2.119,1434;initial catalog=maedicusCPT;user id=itapia;password=Traxtapia12#$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LocalDb" connectionString="data source=(localDB)\localDBDemo;initial catalog=IdentityDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CuentaLogin" connectionString="data source=(localDB)\localDBDemo;initial catalog=mediaccess;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContextMediaccess" connectionString="data source=(localDB)\localDBDemo;initial catalog=mediaccess;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DB" connectionString="data source=(localDB)\localDBDemo;initial catalog=mediaccess;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=(localDB)\localDBDemo;initial catalog=mediaccess;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="dbContext" connectionString="data source=(localDB)\localDBDemo;initial catalog=&quot;PRUEBAS CRUD&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FacturaRemesa" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=tivanTapia12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="RemesasECE" connectionString="data source=(localDB)\localDBDemo;initial catalog=maedicusCPT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConsultaElectronicaHSADetalle" connectionString="data source=192.168.2.119,1434;initial catalog=mediaccess;user id=itapia;password=miLove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FoliosRemesa" connectionString="data source=192.168.2.119,1434;initial catalog=maedicusCPT;user id=itapia;password=miLove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Autorizacion" connectionString="data source=192.168.2.119,1434;initial catalog=mediaccess;user id=itapia;password=miLove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LogFacturasConError" connectionString="data source=(localDB)\localDBDemo;initial catalog=maedicusCPT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CatErrores" connectionString="data source=(localDB)\localDBDemo;initial catalog=maedicusCPT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FacturaxRemesa" connectionString="data source=(localDB)\localDBDemo;initial catalog=maedicusCPT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Especialidad" connectionString="data source=192.168.2.119,1434;initial catalog=mediaccess;user id=itapia;password=miLove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Estatus_Cuenta" connectionString="data source=192.168.2.119,1434;initial catalog=mediaccess;user id=itapia;password=miLove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Especialidad1" connectionString="data source=192.168.2.119,1434;initial catalog=maedicusCPT;user id=itapia;password=miLove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ejemplo" connectionString="data source=(localDB)\localDBDemo;initial catalog=&quot;PRUEBAS CRUD&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Context" connectionString="data source=(localDB)\localDBDemo;initial catalog=&quot;PRUEBAS CRUD&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContextISS" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ConsultaElectronicaHSA" connectionString="data source=192.168.2.119,1433;initial catalog=mediaccess;persist security info=True;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FoliosReceta" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Afiliado" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Recursos_Medicos" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ICD" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="db" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DiagnosisCode" connectionString="data source=192.168.2.119,1433;initial catalog=mediaccess;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CPTGeneral" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Cuenta" connectionString="data source=192.168.2.119,1433;initial catalog=mediaccess;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Ubicacion" connectionString="data source=192.168.2.119,1433;initial catalog=mediaccess;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CodPymesWELLNES" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Facturas" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="CajaAhorro" connectionString="data source=(localDB)\localDBDemo;initial catalog=CajaAhorro;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="tabuladorclinicas2014" connectionString="data source=192.168.2.119,1434;initial catalog=ISS;user id=itapia;password=Milove12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="tabuladorclinicas" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Tapia12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="tabulador" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Tapia12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Dbctx" connectionString="data source=(localDB)\localDBDemo;initial catalog=SistemaWeb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="WSFacturaXML" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=Tapia12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FoliosReceta1" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=Tivan12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="movimientos" connectionString="data source=192.168.2.119,1434;initial catalog=maedicusCPT;user id=itapia;password=Tapia12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBCTX" connectionString="data source=192.168.2.119,1434;initial catalog=MaedicusCPT_Web;user id=itapia;password=Tapia12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model11" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=Tivan12#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="NivelEspecialidad" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="FoliosReceta2" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=Tivan1212#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ECEDBCTX" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=Tivan1212#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Folios" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;persist security info=True;user id=itapia;password=Tivan1212#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=(localDB)\localDBDemo;initial catalog=&quot;PRUEBAS CRUD&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model13" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;persist security info=True;user id=itapia;password=Tivan1212#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Model14" connectionString="data source=192.168.2.119,1433;initial catalog=maedicusCPT;user id=itapia;password=Tivan1212#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LigaDbCtx" connectionString="data source=(localDB)\localDBDemo;initial catalog=LigaFutbol;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Regimenctx" connectionString="data source=192.168.2.119,1434;initial catalog=ISS;user id=itapia;password=Avalos1212@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Regimen" connectionString="data source=192.168.2.119,1434;initial catalog=ISS;user id=itapia;password=Avalos1212@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ContextISS" connectionString="data source=192.168.2.119,1434;initial catalog=ISS;user id=itapia;password=Avalos1212@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ISSCONTEXT" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Avalos1212@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LabGabContext" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Avalos1212@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ContextLabGab" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Avalos1212@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LabGabContext1" connectionString="data source=192.168.2.119,1433;initial catalog=ISS;user id=itapia;password=Avalos1212@;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContextNomina" connectionString="data source=(localDB)\localDBDemo;initial catalog=IdentityNomina;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>